body {
  color: black;
  margin: 1em auto;
}
@media screen {
  body {
    background-color: #f8f8f8;
    font: 1rem 'Arial', sans-serif;
    line-height: 1.1;  /* HTML5 Boilerplate */
    max-width: 768px;
    padding: 8px;
  }
}
@media print {
  body {
    font: 10pt 'TimesNewRoman', serif;
    background-color: white;
  }
}

div#frontMatter > p:first-child {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}
div#frontMatter > h1 {
  margin-top: 0;
  margin-bottom: 0.33em;
}
div#frontMatter > h1 > div {  /* hyperlink */
  display: inline-block;
  margin-left: 2em;
  font-size: 45%;
  width: 6em;
}
div#frontMatter > h1 > a {  /* hyperlink */
  display: inline-block;
  margin-left: 2em;
  font-size: 45%;
  width: 6em;
}
#model-name {
  margin-top: 0;
  margin-bottom: 0.33em;
}
div#frontMatter>section>h1, body>section>h1 {
  font-size: 1.2em;
  margin-bottom: 0.33em;
}
body>section>section>h1 {
  font-size: 1.1em;
}
/* Collapse section content */
.collapsed > *:not(:first-child) {
  display:none;
}
body > section > h1 {
  background-color: azure;
  margin-bottom: 0.2em;
}
body > section > h1 > span {
  margin-right: 0.5em;
}
body section p {
  margin-top: 0em;
  margin-bottom: 0.33em;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

li {
  margin-bottom: 0.33em;
}
table {
  border: thin solid black;
  margin: 1em auto;
  border-collapse: collapse;
  empty-cells: show;
  counter-increment: tables;
}
table td, table th {
  border: thin solid black;
  padding: 0.2em;
}
table > caption {
  page-break-before: avoid;
  font-style: italic;
  text-align: center;
  text-indent: 1.6em;
  margin-bottom: 1em;
}
figure {
  margin: 1em auto;
  text-align: center;
}
figure.right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
figure > figcaption {
  font-size: smaller;
  text-align: center;
  margin-top: 1em;
}

p#metaData {
  font-size: smaller;
}
sup.expl-req {
  background-color: lime;
}
/* Show explanation with smaller font */
div.expl {
  display: none;
  font-size: smaller;
  margin-top: 0.2em;
  background-color: palegreen;
}
kbd {
  padding-left: 3px;
  padding-right: 3px;
  background-color: gainsboro;
}