/* In addition to vIEW.css */

#sim4eduinfo {
    display: inline-block;
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0;
}
#model-menu {
    display: inline-block;
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0.67em;
}
#model-menu button {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0.5em;
}
button:hover,
button:focus {
    cursor: pointer;
}
#model-menu button#spaceSizeDefBtn {
    margin-left: 1em;
    background-color: azure;
}
#model-menu form {
    /* position: relative; */
    vertical-align: top;
    margin-right: 0.5em;
    border: 1px solid;
    padding: 2px;
}
#model-menu form div.field-group > label {
    width: auto;
}
#showCodeForm p {
    margin: 0;
}
#showCodeForm div {
    margin-top: 0.3em;
}
form span.closeButton {
    float: right;
    font-size: 120%;
    margin-top: -0.2em;
}
form span.closeButton:hover,
form span.closeButton:focus {
    color: red;
    cursor: pointer;
}

#frontMatter > h1 {
    margin: 0.2em 0;
}
#frontMatter h1 > a {
    display: inline-block;
    margin-left: 2em;
    font-size: 45%;
    width: 5em;
}
#scenario {
    border-left: 0.5em solid gainsboro;
}
#scenario > h2 {
    margin-top: 0;
    background-color: gainsboro;
    color: whitesmoke;
}
#scenario > div {
    margin-left: 6px;
}
body > footer {
    margin-top: 3em;
    font-size: smaller;
}
#errors {
    padding-left: 5px;
    outline: red solid;
}
.error {
    color: #C0392B;
}

div[id="progress-container"] {
    margin: 3em 1em;
    text-align: center;
}
div[id="progress-container"] > h1 {
    font-size: 100%;
}
progress {
    width: 25em;
    height: 1.7em;
}

/* Vertical margin for UI blocks */
.uiBlock {
    margin: 1em 0;
}

/* overrides vIEW CSS rules */
form button[name="run step"] {
    margin-right: 0;
}
form .stepIncrement {
    cursor: pointer;
    margin-right: 0.5em;
    padding: 1px;
}
form[id="scenario"] div.field-group > label,
form[id="sim"] div.field-group > label {
    width: auto;
}
form[id="scenario"] div.field-group > label:not(:first-child),
form[id="sim"] div.field-group > label:not(:first-child)
{
    margin-left: 1em;
}
form[id="scenario"] div.field-group > label > output,
form[id="sim"] div.field-group > label > output
{
    position: static; left: 0;
}

/* Styles for simulation experiment statistics */
table.expStatistics tbody td {
    text-align: right;
}

/* Styles for DOM-Grid */
table#visCanvas {
  table-layout: fixed;
}
/* table[id="space-view"] corresponds to table#space-view, but helps to avoid cascade/specificity issues */
table[id="visCanvas"] td {
  padding: 1px;
  text-align: center;
  vertical-align: middle;
}

table[id="space-view"] td div.object-view {
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-width: 3px;
  min-height: 3px;
  width: 100%;
  height: 100%;
  font-size: 90%;
}

/*canvas {
  margin: 0.5em 0;
  width: 100% !important;
}*/
.expandablePanel {
  border: 3px solid grey;
  padding: 5px;
  margin: 1em 0;
}
.expandablePanel > h2 {
  font-size: 1.2em;
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
}
.expandablePanel > h2 > button {
  font-size: smaller;
  margin-right: 1em;
}
.expandablePanel > div.xpanel-content > div.xpanel-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form[id="expost-statistics"] {
    outline: solid grey;
    padding: 5px;
    margin: 1em 0;
}
form[id="expost-statistics"] h2 {
    font-size: 110%;
    margin-bottom: 0.4em;
}
form[id="expost-statistics"] h3 {
    font-size: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}
div[id="time-series-chart"] {
    /* height: 450px; */
}

#InitialStateObjectsUI table.PopTable {
    max-height: 7em;
    overflow: auto;
}

div#share {
    display: inline-block;
}
ul.links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 0 0 1em;
}
ul.links li {
    display: inline;
    text-align: center;
    cursor: pointer;
    margin-right: 1em;
}
ul.links li:hover {
    text-decoration: underline;
}
.icon-social {
    width: 20px;
    height: 20px;
    background: #eee;
}
#share-this {
    display: none;
}
/* ==========================================================================
   Print styles for printing the SVG chart
   ========================================================================== */

@media print {
	@page {size: landscape;}
	
    body {visibility: hidden;}
	#time-series-chart {
		visibility:visible;
		position:absolute; top:0px; left:0px;
	}
}