/* =============================================
   Chapter/Section Counters 
   For books without parts where main>section elements denote chapters
   ============================================= */

main { 
  counter-reset: chapters figures;
} 
main > section { 
  counter-increment: chapters;
  counter-reset: sections;
}  
main > section > section { 
  counter-increment: sections;
  counter-reset: sub-sections;
}
main > section > section > section { 
  counter-increment: sub-sections;
}

main > section > h1:before {
  content: "Chapter " counter(chapters) ": "
}
main > section > section > h1:before {
  content: counter(chapters) "." counter(sections) " "
}
main > section > section > section > h1:before {
  content: counter(chapters) "." counter(sections) "." counter(sub-sections) " ";
}